extends layout

block content
  form(action="/login", method="post")
    h2 Iniciar Sesión
    label(for="username") Nombre de usuario:
    input(type="text", id="username", name="username", required)
    label(for="password") Contraseña:
    input(type="password", id="password", name="password", required)
    input(type="submit", value="Iniciar Sesión")
  a(href="/registro") ¿No tienes una cuenta? Regístrate aquí
  

